<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Djangocourse</title>
    </head>
    <body>
      <h1>Users</h1>
      <button hx-get="http://localhost:8000/api/users"
              hx-trigger="click delay:500ms"
              hx-target="#content"
      >
          Load Data
      </button>
      <div id="content">

      </div>

{#      <ul>#}
{#        {% for user in users %}#}
{#          <li>{{ user.email }}</li>#}
{#        {% endfor %}#}
{#      </ul>#}
    </body>

<script src="https://unpkg.com/htmx.org@2.0.2"
        integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
        crossorigin="anonymous">

</script>

</html>