<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
<!--  <meta charset="UTF-8" />-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
<!--  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">-->
<!--  &lt;!&ndash; ... &ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!--    <div class="text-3xl font-bold underline">-->
<!--        <h1>Site is working</h1>-->
<!--    </div>-->
<!--</body>-->
<!--</html>-->
{% extends "base/base.html" %}

{% block content %}
<h1>This is the hello world page</h1>

{% endblock content %}